@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #181818;
    color: #fff;
}

/* ---Navbar--- */

.navbar {
    margin-bottom: 20px;
}

.navbar {
    background-color: #141414;
}

.navbar-brand {
    color: #e30914;
}

/* ---Search Panel--- */

#search-panel {
    margin: 0 auto;
    text-align: center;
}

.searchbox {
    width: 90%;
}

.dropdown {
    display: inline-block;
}

.dropdown-toggle {
    color: #fff;
    border: 1px solid #fff;
    margin: 10px 2.5px;
}

.msg {
    color: #CCCCCC;
    font-size: 10px;
    margin: 2px;
}

/* ---Spotlight--- */
.jumbotron-container {
    position: relative;
}

.jumbotron.bld-jumbo {
    background-image: url("../images/spotlights/BreakfastLunchDinner-Spotlight.jpg");
    background-position: top right;
    background-repeat: no-repeat;
}

.jumbotron.chefstablefrance-jumbo {
    background-image: url("../images/spotlights/chefs-table-france_grab.PNG");
    background-position: top right;
    background-repeat: no-repeat;
}


.jumbotron-overlay {
/*--    background-image: -webkit-gradient(linear, left center, right center, from(rgba(255, 255, 255, 1)), to(rgba(0, 0, 0, 0))); */
    background-image: linear-gradient(to right, rgba(25, 25, 25, 1) 40%, rgba(25, 25, 25, 0)); 
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.spotlight-content {
    z-index: 2;
}

.spotlight-btn {
    margin: 20px 2.5px;
    padding: 5px;
    border-radius: 2.5px;
    border: none;
    width: 120px;
}

/* ---Map--- */
#map {
    min-height: 360px;
}

.map-content {
    background-color: white;
    color: #333;
}

.marker-header {
    font-weight: 500;
    font-size: 14px;
    color: #333;
}

.map-strong {
    font-weight: bold;
}

/* ---Hidden/Visible--- */

.hidden {
    display: none;
}

/* ---Headers--- */

.heading {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

/* ---Featured Restaurants--- */
.map-label {
    background-color: #e30914;    
}

.restaurant ul {
    list-style: none;
}

.restaurants-btn {
    padding: 5px;
    border-radius: 2.5px;
    border: none;
    width: 120px;
}

.restaurant-card {
    width: 100vw;
    color: black;
    border-left: 10px solid #e30914;
    padding: 10px;
    margin: 5px auto;
}

.restaurant-label {
    text-align: center;
}

/* ---Media Queries--- */

@media screen and (min-width: 992px) {
    .restaurant-card {
        width: 70vw;
    }
}